@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.goods {
  position: relative;
  z-index: 1;
  padding-top: fn.clip-min(40, 60);
  padding-bottom: 56px;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 200px;
    background: linear-gradient(180deg, #e9e9e9 22.49%, rgba(217, 217, 217, 0%) 51.05%);
    content: '';
    @media (max-width: vars.$xxl) {
      content: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(48, 60);
    margin: 0 -60px;

    @media (max-width: vars.$xxl) {
      margin: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 12px;
    @media (max-width: vars.$sm) {
      margin: 0 calc(-1 * fn.free-place());
    }
  }

  &__item {
    &-btn {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;
      height: 100%;
      padding: 10px 16px 15px;
      background: vars.$white;
      border-bottom: 3px solid #e3e3e3;
      border-radius: 3px;
      transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &_active {
        background: vars.$red;
        border-color: vars.$red;

        .goods__item {
          &-name {
            color: vars.$white;

            &_accent {
              color: vars.$black;
            }
          }

          &-profit {
            color: #e27484;
          }
        }
      }
    }

    &-name {
      color: vars.$black;
      font-weight: 700;
      font-size: 20px;
      font-family: 'Tactic Sans Extended', sans-serif;
      line-height: 24px;
      transition: color 0.3s ease-in-out;

      &_accent {
        color: vars.$red;
      }
    }

    &-profit {
      margin-top: auto;
      color: #818181;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      transition: color 0.3s ease-in-out;

      & > * {
        white-space: nowrap;
      }
    }
  }

  &__slider {
    width: 100%;

    &-item {
      display: flex;
      gap: 28px;
      @media (max-width: vars.$lg) {
        flex-direction: column;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 460px;
  }

  &__name {
    &-wrap {
      @media (max-width: vars.$lg) {
        display: none;
      }

      &-mobile {
        @media (min-width: vars.$min-lg) {
          display: none;
        }

        padding: 0 27px;
      }
    }

    margin-bottom: 13px;
    color: vars.$black;

    &_accent {
      color: vars.$red;
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 390px;
    margin-bottom: fn.clip-min(24, 96);
    color: #565656;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &-item {
      display: flex;
      gap: 15px;
      align-items: flex-start;
    }

    &-icon {
      width: 25px;
      height: 25px;
    }
  }

  &__sum {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    &-price {
      color: #565656;
      font-weight: 500;
      font-size: 15px;
      line-height: 16px;

      &_amount {
        font-size: 22px;
        line-height: 24px;
      }
    }

    &-btn-block {
      display: flex;
      gap: 12px;
    }
  }
}
