@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.header {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  color: vars.$white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    padding: 0 15px;
  }

  &__logo {
    flex: none;
    width: 160px;
  }

  &__nav {
    padding: 22px 34px;
    color: vars.$black;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -5%;
    background: rgba(vars.$white, 49%);
    border-radius: 10px;

    &-list {
      display: flex;
      gap: 25px;
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    font-weight: 400;
    font-size: 22px;
    font-family: TacticSansExd, sans-serif;
    line-height: 26px;
  }

  &__address {
    display: flex;
    gap: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &-icon {
      width: 11px;
      height: 13px;
    }
  }
}
