@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.header {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 20;
  color: vars.$white;

  @media (max-width: vars.$xl) {
    top: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: vars.$xl) {
      padding: 18px 0;
    }
  }

  &__logo {
    flex: none;
    width: 160px;
    @media (max-width: vars.$xl) {
      display: none;
    }

    &-mobile {
      @media (min-width: vars.$min-xl) {
        display: none;
      }
    }
  }

  &__nav {
    padding: 22px 34px;
    color: vars.$black;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -5%;
    background: rgba(vars.$white, 49%);
    border-radius: 10px;

    @media (max-width: vars.$lg) {
      display: none;
    }

    &-list {
      display: flex;
      gap: 25px;
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    font-weight: 400;
    font-size: 22px;
    font-family: 'Tactic Sans Extended', sans-serif;
    line-height: 26px;
  }

  &__address {
    display: flex;
    gap: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &-icon {
      width: 11px;
      height: 13px;
    }
  }
}
