@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  color: vars.$white;
  background: url('@/img/hero-bg.jpg') no-repeat center / cover;

  &__main-container {
    display: flex;
    flex-direction: column;
    gap: 93px;
    align-items: center;
    min-height: 100vh;
    padding-top: 93px;
    padding-bottom: 93px;
  }

  &__title {
    margin-left: auto;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Tactic Sans Extended', sans-serif;
    @media (max-width: vars.$xl) {
      margin: 0 auto;
      margin-top: auto;
    }
  }

  &__benefits {
    margin-top: auto;

    &-inner {
      margin: 0 -60px;
      @media (max-width: vars.$xxl) {
        margin: 0;
      }
    }

    &-list {
      padding: 30px 40px 0;
      overflow: hidden;
      color: vars.$black;
      font-weight: 400;
      font-size: 15px;
      font-family: 'Tactic Sans Extended', sans-serif;
      line-height: 18px;
      background: vars.$white;
      border-top: 4px solid vars.$red;
    }

    &-item {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &-icon {
      width: 51px;
      height: 51px;
    }
  }
}
