@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.hero {
  height: 100vh;
  color: vars.$white;

  &__slider {
    width: 100%;
    height: 100%;

    &-slide {
      position: relative;
      z-index: 1;
      height: 100%;
      padding-bottom: 100px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    margin-left: auto;
    padding-top: 93px;
    font-weight: 700;
    font-size: fn.clip-min(29, 48);
    font-family: 'Tactic Sans Extended', sans-serif;
    line-height: fn.clip-min(38, 58);
    @media (max-width: vars.$xl) {
      margin: 0 auto;
      margin-top: auto;
    }
  }

  &__bg {
    &-block {
      position: absolute;
      z-index: -1;
      inset: 0;
    }

    &-wrap {
      width: 100%;
      height: 100%;
    }

    width: 100%;
    height: 100%;
  }

  &__benefits {
    position: relative;
    z-index: 5;
    width: 100%;
    margin-top: -85px;

    &-inner {
      margin: 0 -60px;
      padding: 30px 40px 0;
      overflow: hidden;
      color: vars.$black;
      font-weight: 400;
      font-size: 15px;
      font-family: 'Tactic Sans Extended', sans-serif;
      line-height: 18px;
      background: vars.$white;
      border-top: 4px solid vars.$red;
      @media (max-width: vars.$xxl) {
        margin: 0;
      }
    }

    &-item {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &-icon {
      width: 51px;
      height: 51px;
    }
  }
}
