@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.menu {
  position: fixed;
  z-index: 50;
  overflow-y: auto;
  color: vars.$white;
  background: #a6192e;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  inset: 0;

  &_active {
    transform: translateX(0);
    visibility: visible;
  }

  &__header {
    margin: 0 calc(-1 * fn.free-place());
    padding-right: vars.$padding;
    padding-left: vars.$padding;
    background: #550d17;

    &::before {
      content: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__nav {
    width: fit-content;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-link {
      padding: 18px 0;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin: 0 calc(-1 * fn.free-place());
    padding: 23px vars.$padding;
    background: #550d17;
  }

  &__logo {
    display: inline-flex;
    width: 90px;
    margin-left: auto;
  }
}
