mixin menu
  .menu
    .menu__content
      .menu__top
        button.menu__close(type="button")
          span.menu__close-item
      nav.menu__nav
        .menu__nav-list 
          a.menu__nav-link(href="#") Авто в наличии
          a.menu__nav-link(href="#") Авто в наличии
          a.menu__nav-link(href="#") Авто в наличии
          a.menu__nav-link(href="#") Авто в наличии
          a.menu__nav-link(href="#") Рассчитать кредит
          a.menu__nav-link(href="#") Трейд-ин
          a.menu__nav-link(href="#") Контакты