mixin menu
  .menu
    .menu__container.container
        .menu__header.header__content
          button.header__burger(type="button")
            span.header__burger-item
            span.header__burger-item
            span.header__burger-item
          .header__contacts 
            a.header__tel(href="tel:78612025938") 7 (861) 202-59-38
            address.header__address 
              svg.header__address-icon
                use(xlink:href="./assets/sprite.svg#map")
              | ул. Ростовское Шоссе, 34/10
        nav.menu__nav
          .menu__nav-list 
            a.menu__nav-link(href="#") Авто в наличии
            a.menu__nav-link(href="#") Рассчитать кредит
            a.menu__nav-link(href="#") Трейд-ин
            a.menu__nav-link(href="#") Контакты
        .menu__bottom
          a.menu__logo(href="#") 
            img.menu__logo-img(src="@/img/logo.png" alt="")