include ../components/header
include ../components/footer

block vars
  - const title = 'Document'
  - const lang = 'ru'
  - const pageName = 'Main'


doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./assets/styles/libs.css")
    link(rel="stylesheet", href="./assets/styles/main.css")
    title #{title}
  body
    div(class="app " + pageName)
      +header
      main.main
        block content
      +footer


    script(src="https://api-maps.yandex.ru/2.1/?apikey=468db478-c4c3-4057-920e-2869b7bbb9d6&lang=ru_RU")
    script(defer src="./assets/scripts/main.js") 
