mixin footer
  footer.footer
    .container.footer__container
      .row.footer__row.gy-2
        .col-4.col-xl-5.col-lg
          .footer__content
            a.footer__logo(href="#") 
              img(src="@/img/logo.png", alt="")
            .footer__text-block 
              span.footer__name ООО «ЦЕНТР ЛЕОН АВТО СЕВЕР»
              span.footer__text Официальный дилер автомобилей Chery в РФ ИНН 2311179820 ОГРН 1142311015505
        .col-7.col-lg
          span.footer__desc Вся представленная на сайте информация носит информационный характер и не является публичной офертой, определяемой положениями ст. 437 (2) ГК РФ. Для получения подробной информации обращайтесь в наши автосалоны. Опубликованная на данном сайте информация может быть изменена в любое время без предварительного уведомления.