@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: vars.$black;
  font-weight: 500;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  line-height: 17px;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.first-section {
  padding-top: 126px;
}
